<form class="row g-3" [formGroup]="employeeCreateReactiveForm" (ngSubmit)="onSubmit()">
  <div class="col-md-6">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter employee name" formControlName="name">
    <span style="color: red" *ngIf="employeeCreateReactiveForm.get('name')?.errors?.['nameIfForbidden'] && !employeeCreateReactiveForm.get('name')?.pristine">Name is forbidden!</span>
    <span style="color: red" *ngIf="employeeCreateReactiveForm.get('name')?.errors?.['minlength'] && !employeeCreateReactiveForm.get('name')?.pristine">Name should be min 5!</span>
  </div>
  <div class="col-md-6">
    <label for="surname" class="form-label">Surname</label>
    <input type="text" class="form-control" id="surname" formControlName="surname" placeholder="Surname">
  </div>
  <div class="col-md-6">
    <label for="address" class="form-label">Address</label>
    <input type="text" class="form-control" id="address" placeholder="Enter employee address" formControlName="address">
  </div>
  <div class="col-md-6">
    <label for="birthplace" class="form-label">Birthplace</label>
    <input type="text" class="form-control" id="birthplace" formControlName="birthplace" placeholder="Birthplace">
  </div>
  <div class="col-md-6">
    <label for="birthplace" class="form-label">Birthday</label>
    <input type="date" class="form-control" id="birthday" formControlName="birthday" placeholder="Birthplace">
  </div>
  <div class="col-md-6">
    <label for="datejoined" class="form-label">Start Date</label>
    <input type="date" class="form-control" id="datejoined" formControlName="datejoined" placeholder="Start Date">
  </div>
  <div class="col-md-6">
    <label for="salary" class="form-label">Salary</label>
    <input type="number" class="form-control" id="salary" formControlName="salary" placeholder="Salary">
  </div>
  <div class="col-md-6">
    <label for="department" class="form-label">Department</label>
    <select class="form-select" id="department" formControlName="department">
      <option value="" disabled selected>Select department</option>
      <option value="1">Informatics</option>
      <option value="2">Finance</option>
      <option value="3">Marketing</option>
    </select>
  </div><br>

  <div class="col-1">
    <button type="submit" class="btn btn-primary">Add Employee</button>
  </div>
</form>
